apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:
        - key: "node"
          operator: "Equal"
          value: "worker"
          effect: "NoSchedule"

      initContainers:
        - name: init-db
          image: mysql:5.7
          envFrom:
            - configMapRef:
                name: mysql-config
            - secretRef:
                name: mysql-secret
          command:
            - sh
            - -c
            - |
              mysql -h $DB_HOST -u root -p$MYSQL_ROOT_PASSWORD <<EOF
              CREATE DATABASE IF NOT EXISTS ivolve;
              CREATE USER IF NOT EXISTS 'ivolve_user'@'%' IDENTIFIED BY '$DB_PASSWORD';
              GRANT ALL PRIVILEGES ON ivolve.* TO 'ivolve_user'@'%';
              FLUSH PRIVILEGES;
              EOF

      containers:
        - name: nodejs
          image: YOUR_DOCKERHUB_IMAGE
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: mysql-config
            - secretRef:
                name: mysql-secret
          volumeMounts:
            - mountPath: /app/logs
              name: app-logs
      volumes:
        - name: app-logs
          persistentVolumeClaim:
            claimName: app-pvc
