apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      initContainers:
        - name: init-db
          image: mysql:5.7
          envFrom:
            - configMapRef:
                name: ivolve-cm
            - secretRef:
                name: ivolve-s
          command:
            - sh
            - -c
            - |
              mysql -h $DB_HOST -u root -p$MYSQL_ROOT_PASSWORD <<EOF
              CREATE DATABASE IF NOT EXISTS ivolve;
              CREATE USER IF NOT EXISTS '$DB_USER'@'%' IDENTIFIED BY '$DB_PASSWORD';
              GRANT ALL PRIVILEGES ON ivolve.* TO '$DB_USER'@'%';
              FLUSH PRIVILEGES;
              EOF
      tolerations:
        - key: "node"
          operator: "Equal"
          value: "worker"
          effect: "NoSchedule"
      containers:
        - name: nodejs
          image: emanabosamra/kubernets-app:latest
          command:
            - node
            - -e
            - "require('http').createServer((req,res)=>res.end('Hello from Node.js!')).listen(3000)"
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: ivolve-cm
            - secretRef:
                name: ivolve-s
          volumeMounts:
            - name: app-logs
              mountPath: /app/logs
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "2Gi"
      volumes:
        - name: app-logs
          persistentVolumeClaim:
            claimName: app-logs-pvc
